<h1 class="panel-body card-info-head">Edit El Task</h1>
<br>
<%= bootstrap_form_for @task do |f| %>
<%= f.text_field :title, placeholder: "(Required)", class: "my-form-field ph", label_class: "feed"  %>
<br>
<br>
<%= f.text_field :task_location, label: "Start Location", placeholder: "(Optional)", class: "my-form-field ph", label_class: "feed"  %>
<br>
<br>
<%= f.select :location_id, @task.event.locations.collect { |location| [location.name, location.id] }, {label: "End Location", label_class: "feed"}, {class: "my-form-field ph"}  %>
<br>
<br>
<%= f.text_area :description, placeholder: "(Optional)", class: "my-form-field ph", label_class: "feed" %>
<br>
<br>
<%= f.select :priority, [1, 2, 3, 4, 5], {label: "Priority Level (1: High - 5 Low)", label_class: "feed"}, {class: "my-form-field ph"}  %>
<br>
<br>
<%= f.hidden_field :event_id, value: params[:event_id] %>
<%= f.submit class: "btn btn-primary my-button"%>
<br>
<br>
<% end %>
