<h1>YOU GOT TASK</h1>
<p>Title: <%= @task.title %></p>
<p>Event: <%= link_to "#{@task.event.title}", event_path(id: @task.event.id) %></p>
<p>Priority: <%= @task.priority %></p>
<p>Task Location: <%= @task.task_location %></p>
<p>End Location: <%= @task.location.name %></p>
<p>Notes: <%= @task.description %></p>
<p>Taskr: <%= @task.user.name if @task.user %></p>
<p>Status: <%= @task.status %></p>
<%= link_to "Edit", edit_task_path(id: @task.id) %>
<%= button_to 'Delete', task_path(@task), method: :delete %>


<%= link_to "+ Take Task", add_task_path(@task) if @task.status == "open" %>
<%= link_to "- Drop Task", remove_task_path(@task) if @task.user == current_user && @task.status == "in progress" %>
<%= link_to "Finished Task", complete_task_path(@task) if @task.user == current_user && @task.status == "in progress" %>
