<h1>Sign Up</h1>
<%=bootstrap_form_for(@user) do |f|%>
  <div><%=f.text_field :name, placeholder: "Tony", class: "my-form-field ph", label_class: "feed"%></div>
  <div><%=f.text_field :email, placeholder: "Tony@tony.tony", class: "my-form-field ph", label_class: "feed"%></div>
  <div><%=f.password_field :password, placeholder: "@Dragons1 (Don\'t F'n Use This)", class: "my-form-field ph", label_class: "feed"%></div>
  <div><%=f.password_field :password_confirmation, placeholder: "Again! Again!", class: "my-form-field ph", label_class: "feed"%></div>
  <div><%=f.telephone_field :phone, placeholder: "123-456-7890", class: "my-form-field ph", label_class: "feed"%></div>
  <div><%=f.check_box :manager, class: "my-form-field ph", label_class: "feed"%></div>
<%=f.submit "Will Self Into Existence", class: "btn btn-primary my-button"%>
<% end %>
