<h1>WHO IS YOU?</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Phone: <%= @user.phone %></p>
<p>Manager? <%= @user.manager == true ? 'You Is Manager' : 'You Is Not Manager'  %></p>
<%= link_to "Edit", edit_user_path(id: @user.id) %>
<%= link_to 'Delete', user_path(@user), method: :delete %>
