<h1>WHO IS YOU?</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Phone: <%= @user.phone %></p>
<p>Manager? <%= @user.manager == true ? 'You Is Manager' : 'You Is Not Manager'  %></p>
<div class="simple-calendar">

<%= month_calendar events: @events do |date, event| %>
  <%= date.day %>
  <% event.each.with_index(1) do |e, i| %>
    <div>
    <%= "-"%> <%= link_to e.title, event_path(e) %>
    </div>
  <% end %>
<% end %>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6">
  <%= link_to "Edit", edit_user_path(id: @user.id), class: "btn btn-primary" %>
  </div>
  <div class="col-md-3 col-sm-6">
  <%= button_to 'Delete', user_path(@user), method: :delete, class: "btn btn-primary" %>
  </div>
</div>
