<h2>Edit Event</h2>
<%= form_for @event do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :address %>
  <%= f.text_field :address %><br>
  <%= f.label :start_date %>
  <%= f.datetime_field :start_date %><br>
  <%= f.label :end_date %>
  <%= f.datetime_field :end_date %><br>
  <%= f.submit %>
<% end %>
