<h1 class="panel-body card-info-head">Create Der New Event</h1>
<br>
<%= bootstrap_form_for @event do |f| %>
<%= f.text_field :title, placeholder: "(Required)", class: "my-form-field ph", label_class: "feed" %>
<br>
<%= f.text_field :address, placeholder: "(Optional) Street Address, City, State, Zip Code", class: "my-form-field ph", label_class: "feed"%>
<br>
<%= f.datetime_field :start_date, placeholder: "(Optional)", class: "my-form-field ph", label_class: "feed" %>
<br>
<%= f.datetime_field :end_date, placeholder: "(Optional)", class: "my-form-field ph", label_class: "feed" %>
<br>
  <%= f.fields_for :locations do |l| %>
    <%= l.text_area :locations, placeholder: "(Required) Enter locations separated by commas (i.e. green room, loading dock 1, ...)", class: "my-form-field ph", label_class: "feed" %>
  <% end %>
<br>
<%= f.submit class: "btn btn-primary my-button"%>
<br>
<% end %>
