<h2><%= @event.title %></h2>
<% if !@event.locations.nil? %>
<h3>Locations:</h3>
  <ol>
    <% @event.locations.each do |location| %>
      <li><%= location.name %></li>
    <% end %>
  </ol>
<% end %>
<h3>Tasks:</h3>
<% @event.tasks.each do |task| %>
  <%= link_to "#{task.title}", task_path(id: @event.id) %><br>
  <% end %>
  <br>
<% if admin %>
  <%= link_to "Edit", edit_event_path(id: @event.id) %>
  <%= link_to "create new task", new_task_path(event_id: @event.id) %>
  <%= link_to 'Delete', task_path(@event), method: :delete %>
<% end %>
