<h2><%= @event.title %></h2>
<% if !@event.locations.nil? %>
<h3>Locations:</h3>
  <ol>
    <% @event.locations.each do |location| %>
      <li><%= location.name %></li>
    <% end %>
  </ol>
<% end %>
<h3>Tasks:</h3>
<h4>Open: </h4>
<ol>
<% @event.tasks.each do |task| %>
  <% if task.status == "open" %>
    <li> <%= link_to "#{task.title}", task_path(id: @event.id) %></li>
  <% end %>
<% end %>
</ol>
<ol>
<h4>In Progress: </h4>
<% @event.tasks.each do |task| %>
  <% if task.status == "in progress" %>
    <li><%= link_to "#{task.title}", task_path(id: @event.id) %></li>
  <% end %>
<% end %>
</ol>
<ol>
<h4>Complete: </h4>
<% @event.tasks.each do |task| %>
  <% if task.status == "complete" %>
    <li><%= link_to "#{task.title}", task_path(id: @event.id) %></li>
  <% end %>
<% end %>
</ol>

<% if admin %>
  <%= link_to "Edit", edit_event_path(id: @event.id) %>
  <%= link_to "create new task", new_task_path(event_id: @event.id) %>
  <%= link_to 'Delete', task_path(@event), method: :delete %>
<% end %>
